#container{
    width: 600px;
    height: 300px;
    border: chocolate solid 5px;
    margin: 0 auto ;
}
#container div{
    width: 300px;
    height: 300px;
    float: left;
}
#computer{
    background-color: greenyellow;
    /*vertical-align: middle;*/
    /*display: table-cell;*/
}
#computerChoice{
    width: 300px;
    height: 300px;
    position: relative;
    left: 40px;
    top: 90px;
    z-index: 3;
}
#di{
    color: blueviolet;
    position: absolute;
    font-size: 200px;
    padding-left: 50px;
    padding-top: 20px;
    opacity: 25%;
    font-family: 楷体;
}
#mine{
    background-color: darkcyan;
}
#wo{
    position: absolute;
    font-size: 200px;
    padding-left: 50px;
    padding-top: 20px;
    opacity: 25%;
    font-family: 楷体;
}
#Choice{
    padding-left: 40px;
    z-index: 23;                           /* //设置层数，防止被遮挡，层数高遮挡层数低的*/
}
#mineChoice{
    width: 215px;
    height: 207px;
    position: relative;
    top: -210px;
    left: 50px;
    z-index: 1;
}
#result{
    font-family: 华文行楷;
    font-size: 100px;
}

